src/main/mule/getAllUserBookings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="getAllUserBookings" doc:id="edbb1059-5fe9-42aa-b467-1d631d9dd4ea" >
		<json-logger:logger doc:name="Logger" doc:id="86ffaa8e-bb80-4e3b-9664-2fc2c2529e0f" config-ref="JSON_Logger_Config" message="Request received to get all the user bookings based on emailid">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON(attributes) 
}]]]></json-logger:content>
		</json-logger:logger>
		<http:request method="GET" doc:name="Request" doc:id="d6ac44cb-ca2f-4f59-9ce0-c46697350423" config-ref="HTTP_Request_configuration" responseTimeout="${httpRequest.timeout}" path="/flights/{emailID}">
			<reconnect frequency="${httpRequest.reconnectionTime}" count="${httpRequest.reconnectionCount}" />
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"emailID" : attributes.uriParams.emailID
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="226d5d27-7e40-4de3-8a99-5caeb852a0f5" config-ref="JSON_Logger_Config" message="Response received for the user bookings"/>
	</flow>
</mule>
