src/main/mule/updateBookings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="updateBookings" doc:id="d3b4d884-25c6-4224-972c-e0dcfb3fd95e" >
		<json-logger:logger doc:name="Logger" doc:id="1e37aa93-f2c9-496d-9d52-12876b34bc01" config-ref="JSON_Logger_Config" message="Request received to update user bookings based on bookingID"/>
		<http:request method="PATCH" doc:name="updateBookingDetails" doc:id="cb3c9472-e3aa-4bb8-ae93-cc6b6310784a" config-ref="HTTP_Request_configuration" path="/flights" responseTimeout="${httpRequest.timeout}" target="patchResponse" >
			<reconnect frequency="${httpRequest.reconnectionTime}" count="${httpRequest.reconnectionCount}" />
			<http:query-params ><![CDATA[#[output application/java
---
{
	"source" : vars.source,
	"departureDate" : vars.departureDate,
	"destination" : vars.destination
}]]]></http:query-params>
		</http:request>
		<set-payload value="#[output application/json&#10;---&#10;vars.patchResponse]" doc:name="Set Payload" doc:id="c6ab02eb-f44c-44d5-b58a-3a6ae726c8ad" />
		<json-logger:logger doc:name="Logger" doc:id="810b39f4-90a2-4270-82bc-06f5c15d5723" config-ref="JSON_Logger_Config" message="Processed response for update bookings"/>
	</flow>
</mule>
